Flask==1.0
sqlalchemy==1.1.0

Flask-Script==2.0.5
Flask-Migrate==2.0.0
Flask-SqlAlchemy==2.1

jsonschema==2.5.1
simplejson==3.8.2

redis==2.10.5

uWSGI==2.0.18

mysql-connector-python==8.0.19

# Docs
sphinx
sphinxcontrib-httpdomain==1.5.0
https://github.com/bitprophet/alabaster/archive/0.7.9.tar.gz
